@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
header h1 {
    margin: 1em 0;
    text-align: center;
    color: #626262;
}
header .menu-burger , header nav , .flex-contact-section article h3 {
    text-align: center;
    font-size: 1.2em;
}
header nav {
    display: none;
}
header nav  li {
    list-style: none;
    margin: 1em;
    border-bottom: 1px solid #eeeeee;
}
header nav  li a {
    text-decoration: none;
    margin:1em;
    font-size: 1.3em;
    color: #000;
}
.row{
    border: 2px solid black;
    width: 80%;
    margin: 1em auto ;
}
@media (min-width:980px) {
    header 
    header nav {
        display: block;
    }
    header nav{
        display: flex;
        justify-content: center;
    }
    .menu-burger{
        display: none;
    }
}
body {
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    margin: 0;
}

h1 {
    padding: 10px;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #050505;
    font-family: "Roboto", sans-serif;
    z-index: 1;
}

.intro-content h2,
.intro-content p {
    margin: 0;
}

.presentation {
    font-size: 4em;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideInName 1.5s forwards;
}

.description {
    font-size: 2em;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideInSubtitle 1.5s forwards;
}

@keyframes slideInName {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInSubtitle {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

footer p {
    text-align: center;
    margin: 1em;
    line-height: 2em;
}
