body {
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    margin: 0;
}

h1 {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #050505;
    font-family: "Roboto", sans-serif;
    z-index: 1;
}

.intro-content h2,
.intro-content p {
    margin: 0;
}

.presentation {
    font-size: 4em;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideInName 1.5s forwards;
}

.description {
    font-size: 2em;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideInSubtitle 1.5s forwards;
}

@keyframes slideInName {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInSubtitle {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
